@using Mictlanix.Iam.Helpers;
@using Mictlanix.Iam.Models;
@model Mictlanix.Iam.Models.ArrangementStatus

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Edit;
}

<h2>@Mictlanix.Iam.Properties.Resources.Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Mictlanix.Iam.Properties.Resources.Arrangement</legend>
        
        @Html.HiddenFor(model => model.ArrangementYear)
        @Html.HiddenFor(model => model.ArrangementSerial)

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            <select id="status-list" name="Status">
                @foreach (var item in Enum.GetValues(typeof(StatusEnum)))
                {
                    <option value="@((int)item)" @((StatusEnum)item == Model.StatusEnum ? "selected='selected'" : "")>@(((StatusEnum)item).GetDisplayName())</option>
                }
            </select>
        </div>

        <div id="session-date" style="display:none">
            <div class="editor-label">
                @Html.LabelFor(x => x.SessionDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(x => x.SessionDate)
            </div>
        </div>

        <div id="session" style="display:none">
            <div class="editor-label">
                @Html.LabelFor(x => x.Session)
            </div>
            <div class="editor-field">
                @Html.EditorFor(x => x.Session)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <p>
            <input type="submit" value="@Mictlanix.Iam.Properties.Resources.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Mictlanix.Iam.Properties.Resources.BackToList, "Index")
</div>

<script>
    $("#status-list").change(function () {
        var status = $("#status-list option:selected").val();
        if (status === "9") {
            $("#session").hide("slow");
            $("#session-date").show("slow");
        }
        else if (status === "10") {
            $("#session-date").hide("slow");
            $("#session").show("slow");
        }
        else {
            $("#session").hide("slow");
            $("#session-date").hide("slow");                        
        }
    });
</script>