@model Mictlanix.Iam.Models.Arrangement

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Delete;
}

<h2>@Mictlanix.Iam.Properties.Resources.Delete</h2>

<h3>¿En realidad desea borrar lo siguiente?</h3>
<fieldset>
    <legend>@Mictlanix.Iam.Properties.Resources.Arrangement</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.ReceiptDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceiptDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SchoolId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.School.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.OrganizationId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Organization.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Object)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Object)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Responsible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Responsible)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SignatureDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SignatureDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.ValidFrom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValidFrom)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.ExpiryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpiryDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Mictlanix.Iam.Properties.Resources.Delete" /> |
        @Html.ActionLink(Mictlanix.Iam.Properties.Resources.BackToList, "Index")
    </p>
}
