@using Mictlanix.Iam.Helpers;
@using Mictlanix.Iam.Models;
@model Mictlanix.Iam.Models.Arrangement

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Details;
}

<h2>@Mictlanix.Iam.Properties.Resources.Details</h2>

<fieldset>
    <legend>@Mictlanix.Iam.Properties.Resources.Arrangement</legend>

    <div class="display-label">
        @Html.LabelFor(x => x.SerialNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.SerialNumber)
    </div>

    <div class="display-label">
        @Html.LabelFor(x => x.Status)
    </div>
    <div class="display-field">
        @Model.StatusEnum.GetDisplayName()
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.AssignedToId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssignedTo.FullName)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.ReceiptDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceiptDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SchoolId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.School.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.OrganizationId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Organization.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Object)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Object)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Responsible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Responsible)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SignatureDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SignatureDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.ValidFrom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValidFrom)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.ExpiryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpiryDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    @if (Model.SessionDate != null)
    {
            <div class="display-label">
                @Html.LabelFor(model => model.SessionDate)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.SessionDate)
            </div>
    }

    @if (Model.Session != null)
    {
            <div class="display-label">
                @Html.LabelFor(model => model.Session)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Session)
            </div>
    }

     <div class="display-label">
        @Html.LabelFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>


<h2>@Mictlanix.Iam.Properties.Resources.FollowUp</h2>
<table style="width:100%">
    <tr>
        <th >
            @Html.LabelFor(x => new ArrangementStatus().Date)
        </th>
        <th style="width:20%">
            @Html.LabelFor(x => new ArrangementStatus().Status)
        </th>
        <th>
            @Html.LabelFor(x => new ArrangementStatus().CreatorId)
        </th>
        <th style="width:50%">
            @Html.LabelFor(x => new ArrangementStatus().Comment)
        </th>
    </tr>
@foreach (var item in Model.Statuses)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @item.StatusEnum.GetDisplayName()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
    </tr>
}
</table>

</fieldset>
<p>
    @if (Html.GetUser(User.Identity.Name).AllowEditArrangements)
    {
        @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Edit, "Edit", new { year = Model.Year, serial = Model.Serial }) @:|
    }
    @Html.ActionLink(Mictlanix.Iam.Properties.Resources.BackToList, "Index")
</p>
