@using Mictlanix.Iam.Helpers;
@model Mictlanix.Iam.Models.Arrangement

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Details;
}

<h2>@Mictlanix.Iam.Properties.Resources.Details</h2>

<fieldset>
    <legend>@Mictlanix.Iam.Properties.Resources.Arrangement</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.ReceiptDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceiptDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.School)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.School)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Organization)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Organization)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Object)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Object)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Responsible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Responsible)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SignatureDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SignatureDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.DueDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Tipe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipe)
    </div>
</fieldset>
<p>
    @if (Html.GetUser(User.Identity.Name).AllowEditArrangements)
    {
        @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Edit, "Edit", new { id = Model.Id }) @:|
    }
    @Html.ActionLink(Mictlanix.Iam.Properties.Resources.BackToList, "Index")
</p>
