@using Mictlanix.Iam.Helpers;
@model Mictlanix.Iam.Models.Arrangement

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Edit;
}

<h2>@Mictlanix.Iam.Properties.Resources.Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Mictlanix.Iam.Properties.Resources.Arrangement</legend>
        
        @Html.HiddenFor(model => model.Year)
        @Html.HiddenFor(model => model.Serial)
        @Html.HiddenFor(model => model.Status)

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceiptDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceiptDate)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolId)
        </div>
        <div class="editor-field">
            <select id="schools-list" name="SchoolId">
            @foreach (var item in Html.GetSchools())
            {
                if (Model.SchoolId == item.Id)
                {
                    <option value="@item.Id" selected="selected">@item.ShortName - @item.Name</option>
                }
                else
                {
                    <option value="@item.Id">@item.ShortName - @item.Name</option>
                }
            }
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrganizationId)
        </div>
        <div class="editor-field">
            <select id="organizations-list" name="OrganizationId">
            @foreach (var item in Html.GetOrganizations())
            {
                if (Model.OrganizationId == item.Id)
                {
                    <option value="@item.Id" selected="selected">@item.ShortName - @item.Name</option>
                }
                else
                {
                    <option value="@item.Id">@item.ShortName - @item.Name</option>
                }
            }
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Object)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Object)
            @Html.ValidationMessageFor(model => model.Object)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Responsible)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Responsible)
            @Html.ValidationMessageFor(model => model.Responsible)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SignatureDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SignatureDate)
            @Html.ValidationMessageFor(model => model.SignatureDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DueDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DueDate)
            @Html.ValidationMessageFor(model => model.DueDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tipe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tipe)
            @Html.ValidationMessageFor(model => model.Tipe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
        </div>
        <p>
            <input type="submit" value="@Mictlanix.Iam.Properties.Resources.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Mictlanix.Iam.Properties.Resources.BackToList, "Index")
</div>
