@using Mictlanix.Iam.Models;
@using Mictlanix.Iam.Helpers;
@using Mictlanix.Iam.Properties;
@model IEnumerable<Mictlanix.Iam.Models.Arrangement>

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Arrangement;
}

<h2>@Mictlanix.Iam.Properties.Resources.DisplayName_Arrangement</h2>

<p>
</p>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-result" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-field">
            @Html.EditorFor(x => new Search().Pattern)
            <input type="submit" value="@Mictlanix.Iam.Properties.Resources.Search" />
        </div>
        <p>
            @Html.ValidationMessageFor(model => new Search().Pattern)
        </p>
    </fieldset>
}

<div id="search-result">
@Html.Partial("_Index")
</div>
