@using Mictlanix.Iam.Models;
@using Mictlanix.Iam.Helpers;
@using Mictlanix.Iam.Properties;
@model Search<Arrangement>

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Arrangement;
}

<h2>@Mictlanix.Iam.Properties.Resources.DisplayName_Arrangement</h2>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-result", LoadingElementId = "activity-indicator" }))
{
    <div class="editor-label">
        @Html.LabelFor(x => x.Pattern):
    </div>
    <div class="editor-field">
        <input type="text" id="Pattern" name="Pattern" style="width:80%"/>
        <input type="submit" value="@Mictlanix.Iam.Properties.Resources.Search" />
        <img id="activity-indicator" alt="@Mictlanix.Iam.Properties.Resources.Loading" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
    </div>
}

<div id="search-result">
    @Html.Partial("_Index")
</div>
