@using Mictlanix.Iam.Models;
@using Mictlanix.Iam.Helpers;
@using Mictlanix.Iam.Properties;
@model IEnumerable<Mictlanix.Iam.Models.Arrangement>

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Arrangement;
}

<h2>@Mictlanix.Iam.Properties.Resources.DisplayName_Arrangement</h2>

<p>
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
     	<legend>@Mictlanix.Iam.Properties.Resources.Search</legend>
        <div class="editor-field">
            @Html.EditorFor(model => new Search().Pattern)
            <input type="submit" value= "Buscar" />
        </div>
        <p>
            @Html.ValidationMessageFor(model => new Search().Pattern)
        </p>
    </fieldset>
}

<table>
    <tr>
        <th>
            @Html.LabelFor(x => new Arrangement().SerialNumber)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().ReceiptDate)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().SchoolId)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().OrganizationId)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().Amount)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().ValidFrom)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().ExpiryDate)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().AssignedToId)
        </th>

        <th>
            @Html.LabelFor(x => new Arrangement().Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedTo.UserName)
        </td>
        <td title="@item.StatusEnum.GetDisplayName()" style="text-align:center">
            @Html.ActionLink(item.Status.ToString("00"), "ChangeStatus", new { year = item.Year, serial = item.Serial })
        </td>
        <td>
            @if (Html.GetUser(User.Identity.Name).AllowEditArrangements)
            {
                @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Edit, "Edit", new { year = item.Year, serial = item.Serial }) @:|
            }
            
            @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Details, "Details", new { year = item.Year, serial = item.Serial })
            
            @if (Html.GetUser(User.Identity.Name).AllowDeleteArrangements)
            {
                @:| @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Delete, "Delete", new { year = item.Year, serial = item.Serial })
            }
            
            @if (Html.GetUser(User.Identity.Name).IsAdministrator)
            {
                @:| @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Assign, "Assign", new { year = item.Year, serial = item.Serial })
            }
        </td>
    </tr>
}

</table>
