@using Mictlanix.Iam.Models;
@using Mictlanix.Iam.Helpers;
@using Mictlanix.Iam.Properties;
@model IEnumerable<Mictlanix.Iam.Models.Arrangement>

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Arrangement;
}

<h2>@Mictlanix.Iam.Properties.Resources.DisplayName_Arrangement</h2>

<p>
    @if (Html.GetUser(User.Identity.Name).AllowCreateArrangements)
    {
        @Html.ActionLink(Mictlanix.Iam.Properties.Resources.CreateNew, "Create");
    }
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
     	<legend>@Mictlanix.Iam.Properties.Resources.Search</legend>
        <div class="editor-field">
            @Html.EditorFor(model => new Search().Pattern)
            <input type="submit" value= "Buscar" />
        </div>
        <p>
            @Html.ValidationMessageFor(model => new Search().Pattern)
        </p>
    </fieldset>
}

<table>
    <tr>
        <th>
            @Html.LabelFor(x => new Arrangement().Id)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().ReceiptDate)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().School)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().Organization)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().Amount)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().SignatureDate)
        </th>
        <th>
            @Html.LabelFor(x => new Arrangement().DueDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignatureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @if (Html.GetUser(User.Identity.Name).AllowEditArrangements)
            {
                @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Edit, "Edit", new { id = item.Id }) @:|
            }
            
            @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Details, "Details", new { id = item.Id })
            
            @if (Html.GetUser(User.Identity.Name).AllowDeleteArrangements)
            {
                @:| @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Delete, "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
