@using Mictlanix.Iam.Models;
@using Mictlanix.Iam.Helpers;
@model IEnumerable<Mictlanix.Iam.Models.School>

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.DisplayName_School;
}

<h2>@Mictlanix.Iam.Properties.Resources.DisplayName_School</h2>

<p>
    @if (Html.GetUser(User.Identity.Name).AllowCreateSchools)
    {
        @Html.ActionLink(Mictlanix.Iam.Properties.Resources.CreateNew, "Create");
    }
</p>
<table>
    <tr>
        <th>
            @Html.LabelFor(x => new Organization().ShortName)
        </th>
        <th>
            @Html.LabelFor(x => new Organization().Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (Html.GetUser(User.Identity.Name).AllowEditSchools)
            {
                @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Edit, "Edit", new { id = item.Id }) @:|
            }
            
            @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Details, "Details", new { id = item.Id })
            
            @if (Html.GetUser(User.Identity.Name).AllowDeleteSchools)
            {
                @:| @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Delete, "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
