@using Mictlanix.Iam.Helpers;
@model Mictlanix.Iam.Models.ArrangementRequest

@{
    ViewBag.Title =  Mictlanix.Iam.Properties.Resources.Edit ;
}

<h2>@Mictlanix.Iam.Properties.Resources.Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Revisión de Arreglo</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.School)
        </div>
        <div class="editor-field">
            <select id="dependency-list" name="School">
            @foreach (var item in Html.GetSchools()) {
            <option>@Html.DisplayFor(x => item.Nombre)</option>
            }
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Organization)
        </div>
        <div class="editor-field">
            <select id="dependency-list" name="Organization">
            @foreach (var item in Html.GetOrganizations())
            {
            <option>@Html.DisplayFor(x => item.Nombre)</option>
            }
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Object)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Object)
            @Html.ValidationMessageFor(model => model.Object)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LegalRequirement)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LegalRequirement)
            @Html.ValidationMessageFor(model => model.LegalRequirement)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestForm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequestForm)
            @Html.ValidationMessageFor(model => model.RequestForm)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ElectronicMedia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ElectronicMedia)
            @Html.ValidationMessageFor(model => model.ElectronicMedia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Annexes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Annexes)
            @Html.ValidationMessageFor(model => model.Annexes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Forms)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Forms)
            @Html.ValidationMessageFor(model => model.Forms)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LegalDocuments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LegalDocuments)
            @Html.ValidationMessageFor(model => model.LegalDocuments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ResponsibleStatement)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ResponsibleStatement)
            @Html.ValidationMessageFor(model => model.ResponsibleStatement)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolAutorization)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SchoolAutorization)
            @Html.ValidationMessageFor(model => model.SchoolAutorization)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Creator)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Creator)
            @Html.ValidationMessageFor(model => model.Creator)
        </div>

        <p>
            <input type="submit" value="@Mictlanix.Iam.Properties.Resources.Edit" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Mictlanix.Iam.Properties.Resources.BackToList, "Index")
</div>
