@using Mictlanix.Iam.Models;
@using Mictlanix.Iam.Helpers;
@model Search<ArrangementRequest>

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.ArrangementRequests;
}

<h2>@Mictlanix.Iam.Properties.Resources.DisplayName_ArrangementRequests</h2>

<p>
    @if (Html.GetUser(User.Identity.Name).AllowCreateRequests)
    {
        @Html.ActionLink(Mictlanix.Iam.Properties.Resources.CreateNew, "Create");
    }
</p>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-result" }))
{
    <div class="editor-label">
        @Html.LabelFor(x => x.Pattern):
    </div>
    <div class="editor-field">
        <input type="text" id="Pattern" name="Pattern" style="width:80%"/>
        <input type="submit" value="@Mictlanix.Iam.Properties.Resources.Search" />
    </div>
}

<div id="search-result">
    @Html.Partial("_Index")
</div>