@using Mictlanix.Iam.Models;
@using Mictlanix.Iam.Helpers;
@model IEnumerable<Mictlanix.Iam.Models.Organization>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Html.GetUser(User.Identity.Name).AllowCreateOrganizations)
    {
        @Html.ActionLink(Mictlanix.Iam.Properties.Resources.CreateNew, "Create");
    }
</p>
<table>
    <tr>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @if (Html.GetUser(User.Identity.Name).AllowEditOrganizations)
            {
                @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Edit, "Edit", new { id = item.Id }) @:|
            }
            
            @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Details, "Details", new { id = item.Id })
            
            @if (Html.GetUser(User.Identity.Name).AllowDeleteOrganizations)
            {
                @:| @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Delete, "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
