@using Mictlanix.Iam.Models;
@using Mictlanix.Iam.Helpers;
@model IEnumerable<Mictlanix.Iam.Models.Organization>

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.DisplayName_Organization;
    var user = Html.GetUser(User.Identity.Name);
}

<h2>@Mictlanix.Iam.Properties.Resources.DisplayName_Organization</h2>

<p>
    @if (Html.GetUser(User.Identity.Name).AllowCreateOrganizations)
    {
        @Html.ActionLink(Mictlanix.Iam.Properties.Resources.CreateNew, "Create");
    }
</p>
<table>
    <tr>
        <th>
            @Html.LabelFor(x => new Organization().ShortName)
        </th>
        <th>
            @Html.LabelFor(x => new Organization().Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="actions">
            @if (user.AllowEditOrganizations)
            {
                @Html.ActionImage(Url.Content("~/Content/icons/edit.png"), "Edit", new { id = item.Id },
                                  new { alt = Mictlanix.Iam.Properties.Resources.Edit, title = Mictlanix.Iam.Properties.Resources.Edit })
            }
            
            @Html.ActionImage(Url.Content("~/Content/icons/details.png"), "Details", new { id = item.Id },
                              new { alt = Mictlanix.Iam.Properties.Resources.Details, title = Mictlanix.Iam.Properties.Resources.Details })
            
            @if (user.AllowDeleteOrganizations)
            {
                @Html.ActionImage(Url.Content("~/Content/icons/delete.png"), "Delete", new { id = item.Id },
                                  new { alt = Mictlanix.Iam.Properties.Resources.Delete, title = Mictlanix.Iam.Properties.Resources.Delete })
            }
        </td>
    </tr>
}

</table>
