@using Mictlanix.Iam.Models;
@using Mictlanix.Iam.Helpers;

@{
    var user = Html.GetUser(User.Identity.Name);
}

@if (user.IsAdministrator || user.AllowReadSchools)
{
    <li>@Html.ActionLink("Dependecias", "Index", "Schools")</li>
}

@if (user.IsAdministrator || user.AllowReadOrganizations)
{
    <li>@Html.ActionLink("Contraparte", "Index", "Organizations")</li>
}

@if (user.IsAdministrator || user.AllowReadRequests)
{
    <li>@Html.ActionLink("Revisión", "Index", "ArrangementRequests")</li>
}

@if (user.IsAdministrator || user.AllowReadArrangements)
{
    <li>@Html.ActionLink("Convenios", "Index", "Arrangements")</li>
}

@if (user.IsAdministrator)
{
    <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
}