@model Mictlanix.Iam.Models.User

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Delete;
}

<h2>@Mictlanix.Iam.Properties.Resources.Delete</h2>

<h3>¿En realidad desea borrar lo siguiente?</h3>
<fieldset>
    <legend>@Mictlanix.Iam.Properties.Resources.User</legend>
    
    <div class="display-label">@Html.LabelFor(model => model.UserName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.FirstName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.LastName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Email)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="@Mictlanix.Iam.Properties.Resources.Delete" /> |
        @Html.ActionLink(Mictlanix.Iam.Properties.Resources.BackToList, "Index")
    </p>
}
