@using Mictlanix.Iam.Helpers;
@model Mictlanix.Iam.Models.User

@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Details;
}

<h2>@Mictlanix.Iam.Properties.Resources.Details</h2>

<fieldset>
    <legend>@Mictlanix.Iam.Properties.Resources.User</legend>

    <div class="display-label">@Html.LabelFor(model => model.UserName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.FirstName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.LastName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Email)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.IsAdministrator)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAdministrator)
    </div>
</fieldset>
<p>
    @Html.ActionLink(Mictlanix.Iam.Properties.Resources.Edit, "Edit", new { id=Model.UserName }) |
    @Html.ActionLink(Mictlanix.Iam.Properties.Resources.BackToList, "Index")
</p>
